<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
  <div id="root"></div>
</body>
<script>
  //input,textarea,checkbox,radio
  const app = Vue.createApp({
    data(){
      return {
        message:'abc',
        mes:[],
        r:''
      }
    },
    template:
    `
    <div>{{message}}
      <input v-model='message'>
      {{mes}}
      jack<input type='checkbox' v-model='mes' value="jack"/>
      dell<input type='checkbox' v-model='mes' value="dell"/>
      {{r}}
      a<input type='radio' v-model='r' value='a'/>
      b<input type='radio' v-model='r' value='b'/>

    </div>
    `
  });
  app.mount('#root')
</script>

</html>