<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue@next"></script>
  <title>Document</title>
</head>
<body>
  <div id="root">

  </div>
  <script type="text/javascript">
    const app = Vue.createApp({
      data(){
        return {
          inputValue:'',
          tdlist:[]
        }
      },
      methods:{
        handleAddItem(){
          this.tdlist.push(this.inputValue);
          this.inputValue = '';
        }
      },
      template:`
        <div>   
          <input v-model='inputValue' v-on:keyup.enter='handleAddItem'>
          <button v-on:click='handleAddItem'>增加</button>   
          <ul>
            <todolist v-bind:items="tdlist"></todolist>
          </ul>
        </div>
      `
    });
    app.component('todolist',{
      props:{
        items:Array,
      },
      template:`
      <li v-for='item of items'>{{item}}</li>
      `
    })
    app.mount('#root')

  </script>
  
</body>
</html>